.App {
  text-align: center;
}

.card-text{
  width: 18rem;
}

.img{
  width: 50px;
}

.carrito{
  width: 50px;
}
.card{
  border: solid 4px black;
  align-items: center;
}

.btn {
  background-color: grey;
  color: white;
}

.imgProd{
  width: 200px;
}
